<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>Magic Web Show</title>


	<%= URL_LODASH_LIBRARY %>
	<%= URL_WEB_ANIMATIONS_LIBRARY %>
	<%= URL_MUURI_LIBRARY %>

	<script src="../muuri-square-slides.js"></script>
	<script src="//<%= HOST_ATHEOS_LIBRARY %>/atheos/afrodite.js"></script>
	<link rel="stylesheet" href="//<%= HOST_ATHEOS_LIBRARY %>/atheos/themes/container.dark.css">
</head>

<body>
<!-- 	<header>
		<button onclick="DoPrevious()">Previous</button>
		<button onclick="DoSome()">Do Some</button>
		<button onclick="DoDelete()">Delete</button>
		<button onclick="DoNext()">Next</button>
	</header>

 -->	
 <div id="idMagicUsersContainer" title="Tap for more online juice"></div>
 <div id="coolslides" class="gridContainer"><div class="grid"></div>
 <ul class="help_text flex-centered-content fill-container">
<li>Drop any web page here. It becomes a single slide</li>
<li>Double-click a slide to make it full-screen</li>
<li>Navigate slides using Left or Right keys</li>
<li>Press the Escape key to exit full-screen</li>
<li>Type 'ed' quickly to enter mode to delete a slide</li>
<li>All actions synchronized with those who open this page</li>
 </div></div>

</body>

</html>