//Theme
$theme-color-primary: rgb(214, 120, 3);
$theme-color-fore: rgb(250, 212, 198);
$theme-color-back: rgb(22, 2, 41);


$magic-card-size:90%;


@import '../Thema/muuri-square-slides';

@mixin RivetBackground($size, $color, $backcolor) {
	$half-size: #{$size/2};

	background:
		radial-gradient($color 20%, transparent 16%) 0 0,
		radial-gradient($color 30%, transparent 16%) $half-size $half-size,
		radial-gradient(rgba($color, .1) 15%, transparent 20%) 0 1px,
		radial-gradient(rgba($color, .1) 30%, transparent 30%) $half-size calc( #{$half-size} + 1px);
	background-color: $backcolor;
	background-size: $size $size;
}



.item {

	.dragging & {
		pointer-events: none;
	}

	
	.card {

		@include RivetBackground(0.216em, mix($theme-color-primary, $theme-color-back, 50% ), $theme-color-back );
		
		cursor: move;


		.card-content {
			&:hover>:first-child {
				pointer-events: unset;
			}

			margin:auto;
			width:$magic-card-size;
			height:$magic-card-size;

			&>iframe {
				border-width: 0;

			}

		}

		.navigation-bar,
		.card-operations {
			display: none;
			//pointer-events: unset;

		}

		&:hover .pele_deactive_overlay {
			display: none;
			//pointer-events: unset;
		}

	}

}