
body {
	display: flex;
	flex-direction: column;

	transition: ease-in 0.2s all;
}

button {
	color: $theme-color-fore;
	background-color: $theme-color-primary;
	border: none;
	border-radius: 0.1em;
	transition: all 0.4s ease 0s;
}

button:hover {
	color: $theme-color-back;
	background-color: $theme-color-fore;
	letter-spacing: .025em;
	box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
}


#idTopMenu {
	.pele_zoomedin & {
		display: none;
	}

	#idMagicUsersContainer {
		//	height: $magicmenu-height ;
		//	opacity: 66%;
		//	flex-grow:1;

		.pele_zoomedin & {
			//			display: none;
		}

	}
}

.flex-centered-content {
	display: flex;
	justify-content: center;
	align-items: center;
}

.fill-container {
	width: 100%;
	height: 100%;
}

.help_text {
	pointer-events: none;
	position: absolute;
	flex-direction: column;
}


/* Base */
* {
	box-sizing: border-box;
}

html {
	overflow-y: auto;
	overflow-x: hidden;
	background: $theme-color-back;
}

html.dragging body {
	user-select: none;
}

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
}

body {
	position: relative;
	font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
	//	font-size: 1.25em;
	line-height: 1.5;

	color: $theme-color-fore;

}

a {
	color: #3396FF;
	text-decoration: none;
	transition: all 0.2s ease-out;
}

a:hover {
	color: #FF4BD8;
}


/* Grid */
.gridContainer {
	position: relative;
	max-width: 100%;
	//margin: 0 auto;
	box-sizing: content-box;

	//height: 95%;
	min-height: 85%;
	//min-height:calc(100% - #{$magicmenu-height});
	//border: thin dotted $theme-color-primary;
	flex-grow: 1;
}

.grid {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;

	box-sizing: content-box;

	&:focus {
		background-color: blue;
	}

	&.pele_edit-mode {
		background-color: $theme-color-primary;
	}

	&:not(:empty)~* {
		display: none;
	}
}

.item {
	position: absolute;
	//margin: 10px;
	z-index: 1;


	@for $i from 1 through 16 {
		[data-pele-square-size-column-count="#{$i}"]>& {
			width: #{(100/$i)+"%"};
			padding-bottom: #{(100/$i)+"%"};
		}
	}

	&.muuri-item-positioning {
		z-index: 2;
	}

	&.muuri-item-placeholder {
		z-index: 2;
		margin: 0;
		opacity: 0.5;
	}

	&.muuri-item-dragging,
	&.muuri-item-releasing {
		z-index: 9999;
	}

	&.muuri-item-dragging {
		cursor: move;
	}

	&.muuri-item-hidden {
		z-index: 0;
	}

	.pele_deactive_overlay {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		background: gray;
		opacity: .25;
		pointer-events: none;

	}

	.pele_zoomedin & {
		width: 100%;
		height: 100%;
		padding-bottom: unset;
		transition: all .2s ease-in;

		.card {
			> :not(.card-content) {
				display: none;
			}

		}


	}

	&.pele_chosen_one {

		//background-color:red;
		.pele_deactive_overlay {
			background: $theme-color-primary;
			opacity: .5;
			box-shadow: 0 0 .5em .5em $theme-color-primary;
		}
	}


}


.item-content,
.card-content {
	position: absolute;
	width: 100%;
	height: 100%;
}

.card {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	font-size: 1.5em;
	//font-weight: 300;
	//background-color: rgba(255,255,255,0.9);
	border: 1.5px solid;
	color: $theme-color-fore;
	border-radius: 0.2em;
	transition: all 0.2s ease-out;

	margin: 0.2em;


	.card-content {
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;

		&>:first-child {
			pointer-events: none;

			.pele_zoomedin .pele_chosen_one & {
				pointer-events: unset;
			}
		}


		>iframe {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			height: 100%;
			width: 100%;
			margin: 0;
			padding: 0;

			.pele_zoomedin & {
				border: thin dotted $theme-color-primary;
			}
		}

		>.pele-responsive_image_container {
			overflow: hidden;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;

			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;

			.pele_zoomedin & {
				background-size: contain;
			}
		}
	}

	.pele_zoomedin & {
		//border: 1px $theme-color-primary dashed;
		border: unset;
		margin: 0;
	}



}

.item.muuri-item-placeholder .card {
	border-style: dashed;
}


.card-id {
	position: absolute;
	left: 7px;
	top: 0;
	height: 2em;
	line-height: 2em;
	text-align: left;
	//font-size: 0.5em;
	font-weight: 400;

	text-shadow: $theme-color-back 0px 0px 1px;
}

.card-remove {
	display: none;
	position: absolute;
	right: 0;
	top: 0;
	width: 1.5em;
	//	height: 2em;
	//	line-height: 2em;
	text-align: center;
	//	font-size: 20px;
	//	font-weight: 400;
	cursor: pointer;

	&::before {
		content: "×";
	}

	.pele_edit-mode & {
		display: block;
	}

}

.card-operations {
	position: absolute;
	left: 0;
	bottom: 0;
	//	width: 100%;
	//	height: calc(100% - 2em);
	//border: thin solid red;
	text-align: center;
	transition: all .3s ease 0s;

	button {
		font-size: 1rem;

		.pele_zoomedin & {
			font-size: 2rem;
		}		
	}

	opacity: 11%;

	&:hover {
		opacity: 88%;
		background-color: $theme-color-back;
	}

	/* 	.card-op-play {
		input
		{
			display: none;
		}

		span::before {
			content: "►";
		}

		input:checked + span:before
		{
			content: "◼";
		}
	} */

	.pele_zoomedin & {
		display: none;
	}

	.pele_sleeping & {
		display: flex;

		background:
			linear-gradient(324deg, $theme-color-back 4%, transparent 4%) -.7em .43em,
			linear-gradient(36deg, $theme-color-back 4%, transparent 4%) .30em .43em,
			linear-gradient(72deg, $theme-color-fore 8.5%, transparent 8.5%) .30em .43em,
			linear-gradient(288deg, $theme-color-fore 8.5%, transparent 8.5%) -.7em .43em,
			linear-gradient(216deg, $theme-color-fore 7.5%, transparent 7.5%) -.7em .23em,
			linear-gradient(144deg, $theme-color-fore 7.5%, transparent 7.5%) .30em .23em,

			linear-gradient(324deg, $theme-color-back 4%, transparent 4%) -.20em .93em,
			linear-gradient(36deg, $theme-color-back 4%, transparent 4%) .80em .93em,
			linear-gradient(72deg, $theme-color-fore 8.5%, transparent 8.5%) .80em .93em,
			linear-gradient(288deg, $theme-color-fore 8.5%, transparent 8.5%) -.20em .93em,
			linear-gradient(216deg, $theme-color-fore 7.5%, transparent 7.5%) -.20em .73em,
			linear-gradient(144deg, $theme-color-fore 7.5%, transparent 7.5%) .80em .73em;
		background-color: $theme-color-back;
		background-size: 1em 1em;
		opacity: 80%;
	}

}

.card-op-sleep {
	display: unset;

	.pele_sleeping & {
		display: none;
	}
}

.card-op-wake {
	display: none;

	.pele_sleeping & {
		display: unset;
	}
}

.navigation-bar {
	position: fixed;
	top: 0;
	width: 100%;
	left: 0;
	display: none;

	button {
		//min-width: 10em;
		flex: 1;
		font-size: 1.618rem;
		margin: 0.1rem;
	}

	.pele_zoomedin .pele_chosen_one & {
		display: flex;
		z-index: 69;
		opacity: 1%;
		max-height: 0.3em;
		overflow: hidden;

		&:hover {
			opacity: 100%;
			max-height: unset;
			padding: 1em 1em 2em;
		}

	}
}